<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MONITOR BIN</title>
<style>
  table{
    height: 200px;
    width: 400px;
  } 
  thead{
    background-color:aliceblue;
  }
  tbody {
    background-color: antiquewhite;
  }
  form{
    margin-left: 300px;
  }
h1 {
    margin-left: 100px;
    color: rgb(113, 55, 55);
}




</style>
</head>
<body>
   <form> <h1>MONITOR BIN</h1>
    <table border="2px">
       <thead> <tr>
         <th>name</th>
<th>place</th>
<th>status</th>
     </tr>  </thead>
<tbody>
    <tr>
        <td>   </td>
    <td>    </td>
<td>    </td>    
</tr>
</tbody>
    </table>
    </form>
</body>
</html>