<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OVERSEE REWARD</title>
    <style>
        table {
            height: 300px;
            width: 400px;
        } 
        form {  
            margin-left: 300px;
            margin-top: 50px;
        }
        h1{
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <form>
    <h1>OVERSEE REWARD</h1>
    <table border="2px">
        <thead>
            <tr>
               <th>User Name</th>
               <th>Bin Location</th>
               <th>Reward Point</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>    </td>
                <td>    </td>
                <td>    </td>
            </tr>
        </tbody>
    </table>
    </form>
</body>
</html>